@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {

}

.button-container {
  position: relative;
}
.button-container > button {
  color: darkgray;
  transition: all 0.3s ease-in-out;
}

.button-container:hover > button{
  color: #171717;
}

.button-container:hover > .hovered-div {
  width: 50px;
}

.hovered-div {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: #171717;
  transition: all 0.3s ease-in-out;
}
